@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
article {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cards {
  max-width: 375px;
  margin: 90px 0;
}

.cards .card {
  margin: 0 20px;
  padding: 50px;
}

.cards .card .icon {
  width: 60px;
}

.cards .card .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .card .title {
  margin-top: 20px;
  font-family: 'Big Shoulders Display', Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #f2f2f2;
}

.cards .card .text {
  font-size: 17px;
  margin-top: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.75);
}

.cards .card .button {
  margin-top: 20px;
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.2s;
}

.cards .card .button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.75);
}

.cards .card:nth-child(1) {
  background-color: #e38826;
  border-radius: 10px 10px 0 0;
}

.cards .card:nth-child(1) .button {
  color: #e38826;
}

.cards .card:nth-child(1) .button:hover {
  color: rgba(255, 255, 255, 0.75);
}

.cards .card:nth-child(2) {
  background-color: #006970;
}

.cards .card:nth-child(2) .button {
  color: #006970;
}

.cards .card:nth-child(2) .button:hover {
  color: rgba(255, 255, 255, 0.75);
}

.cards .card:nth-child(3) {
  background-color: #004241;
  border-radius: 0 0 10px 10px;
}

.cards .card:nth-child(3) .button {
  color: #004241;
}

.cards .card:nth-child(3) .button:hover {
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-width: 1440px) {
  .cards {
    display: flex;
    max-width: initial;
    width: 850px;
  }
  .cards .card {
    margin: 0;
    padding: 35px;
  }
  .cards .card .text {
    height: 150px;
  }
  .cards .card .button {
    margin-top: 50px;
  }
  .cards .card:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }
  .cards .card:nth-child(3) {
    border-radius: 0 10px 10px 0;
  }
}
